<p id="notice"><%= notice %></p>

<p>
  <strong>Bank:</strong>
  <%= @card.bank %>
</p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @card.number %>
</p>

<p>
  <strong>Month:</strong>
  <%= @card.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @card.year %>
</p>

<p>
  <strong>Ccv:</strong>
  <%= @card.ccv %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
