<div class="modal fade" id="new-transaction-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <%= bootstrap_form_for(@transaction) do |form| %>
        <div class="modal-header">
          <h5 class="modal-title">New Transaction</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <%= form.collection_select :from_account_id, @transaction.my_accounts, :id, :name, {}, class: 'select-from-account' %>
          <%= form.collection_select :to_user_id, @transaction.other_users, :id, :email, {}, class: 'select-to-user' %>
          <%= form.select :to_account_id, [], {}, class: 'select-to-account' %>
          <%= form.number_field :amount, class: 'field-amount' %>

        </div>
        <div class="modal-footer">
          <%= form.submit 'Send Money', class: 'btn btn-primary btn-send-money' %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
